div.pag

  div.head
    div.head__left
      img.head__left__pic(src="https://static.vecteezy.com/system/resources/previews/001/198/042/non_2x/world-map-png.png")
    div.head__center
      h1.head__center__tittle VIAJEMOS JUNTOS
    div.head__right
    
  div.body 
    div.body__left
      h2.body__left__tittle Conocenos:
      div
        a.body__left__tag1(href="https://instagram.frix7-1.fna.fbcdn.net/v/t50.2886-16/53473804_556554334825961_1425382348678706820_n.mp4?efg=eyJ2ZW5jb2RlX3RhZyI6InZ0c192b2RfdXJsZ2VuLjcyMC5mZWVkLmRlZmF1bHQiLCJxZV9ncm91cHMiOiJbXCJpZ193ZWJfZGVsaXZlcnlfdnRzX290ZlwiXSJ9&_nc_ht=instagram.frix7-1.fna.fbcdn.net&_nc_cat=105&_nc_ohc=3U6deVTWZdIAX9NjBxn&vs=18018047806124621_1064826653&_nc_vs=HBksFQAYJEdBenlMd1BwN1d6bkx2b0JBSVEyRzdLeF9jY1Ria1lMQUFBRhUAAsgBABUAGCRHSjJkS3dNQTB1RnJwSWdBQUl6ZzRRRG1uVVIzYmtZTEFBQUYVAgLIAQAoABgAGwAVAAAYABass7edoNOKQBUCKAJDMywXQEkOFHrhR64YEmRhc2hfYmFzZWxpbmVfMV92MREAdeoHAA%3D%3D&_nc_rid=056ddbf00a&oe=5FAFD732&oh=3ceefae6d6d2aafa7a3569884537839e&dl=1") Segunda parte
      div
        a.body__left__tag1(href="https://scontent-ams4-1.cdninstagram.com/v/t50.2886-16/55692447_835479966812292_1911286508003128972_n.mp4?efg=eyJ2ZW5jb2RlX3RhZyI6InZ0c192b2RfdXJsZ2VuLjcyMC5mZWVkLmRlZmF1bHQiLCJxZV9ncm91cHMiOiJbXCJpZ193ZWJfZGVsaXZlcnlfdnRzX290ZlwiXSJ9&_nc_ht=scontent-ams4-1.cdninstagram.com&_nc_cat=100&_nc_ohc=a3CCRPmSl-gAX-i6P5F&vs=18032483779101124_2583973123&_nc_vs=HBksFQAYJEdKLU1VUU9FaUtOVzNmY0NBSXoyaGQzelFJWWFia1lMQUFBRhUAAsgBABUAGCRHT3ZvVXdNMWJkR0hfaG9EQUlhWE9RUnhqZXdLYmtZTEFBQUYVAgLIAQAoABgAGwAVAAAYABbWx%2BPDr5SPQBUCKAJDMywXQE4BR64UeuEYEmRhc2hfYmFzZWxpbmVfMV92MREAdeoHAA%3D%3D&_nc_rid=857ca8cea6&oe=5FAFC847&oh=9d99c5dd78abc9a494b4d4d976c6525b&dl=1") Brasil
      div
        a.body__left__tag1(href="https://drive.google.com/drive/folders/1XdiChfRNy7BeJEqy0Ugx4kwxdoRlS6aJ") Fotos
         
    div.body__center
      video.body__center__video(autoplay=true, muted=true, controls=true, looped=true)
        source(src="https://scontent-prg1-1.cdninstagram.com/v/t50.2886-16/52709735_107987860201427_5167838318091794133_n.mp4?efg=eyJ2ZW5jb2RlX3RhZyI6InZ0c192b2RfdXJsZ2VuLjcyMC5jYXJvdXNlbF9pdGVtLmRlZmF1bHQiLCJxZV9ncm91cHMiOiJbXCJpZ193ZWJfZGVsaXZlcnlfdnRzX290ZlwiXSJ9&_nc_ht=scontent-prg1-1.cdninstagram.com&_nc_cat=111&_nc_ohc=2giyIXM0OKMAX-h6_Q5&vs=18033130342012952_1037754193&_nc_vs=HBksFQAYJEdHZEpKQVBUSHd6aU5tSUFBTlYyZ19hUjJiZEhia1lMQUFBRhUAAsgBABUAGCRHR2lBSGdPblE2UEhKT0lBQVBhRUY0YXB3blZhYmtZTEFBQUYVAgLIAQAoABgAGwAVAAAYABbMq5LesIv8PxUCKAJDMywXQE4AAAAAAAAYEmRhc2hfYmFzZWxpbmVfMV92MREAde4HAA%3D%3D&_nc_rid=286cf6ea36&oe=5FAF82B1&oh=994fc515e449030e28a3bc7391f7545e&dl=1")
    div.body__right    
  div.feet
    div.feet__left
    div.feet__center
    div.feet_right
      a.tag1(href="https://codepen.io/manu_ffranchi/pen/YzWeYbq") Contactanos