div.home
  div.home__background
    img.home__background-image(src="https://s3-sa-east-1.amazonaws.com/cloudtag.io/curso-html-css/wood.jpg")
  div.home__header
    marquee CABECERA COOOOOL
  div.home__body
    div.home__body-left
      div.menu
        div.menu__item.menu__item--blue Home
        div.menu__item.menu__item--red Seccion 1
        div.menu__item Seccion 2
        div.menu__item Contacto
    div.home__body-center
      video.home__video(src="https://labs.ohzi.io/videos/rose.mp4", muted= true, autoplay= true, loop= true)
    div.home__body-right