doctype html
html
  head
    title Pagina de fede

    link(rel="icon", type="image/png", href="assets/images/common/favicon.png")
    link(href='css/application.scss', rel="stylesheet")

  body#body
    include views/home/home
