div.sign-in
    div.sign-in__background
        img.sign-in__image(src="assets/images/common/ow2.jpg" width="100%")
    div.sign-in__container
        form.sign-in__form(action='#')
            div.sign-in__title Ingrese su correo electrónico y contraseña.
            input.input.sign-in__email(type="email", placeholder="Correo electrónico")
            input.input.sign-in__password(type="password", placeholder="Contraseña")
            a(href="#").sign-in__forgot-password Olvidaste la contraseña?
            input.sign-in__send-button(type="submit", value="Iniciar Sesion")

