.home Links
div.titulo Links:
  a.Link(href="https://curso.ohzi.io/agus/")
  a.Link(href="https://curso.ohzi.io/caco/")
  a.Link(href="https://curso.ohzi.io/dolo/")
  a.Link(href="https://curso.ohzi.io/fede/")
  a.Link(href="https://curso.ohzi.io/ivan/")
  a.Link(href="https://curso.ohzi.io/manu-franchi/")
  a.Link(href="https://curso.ohzi.io/nadia/")
  a.Link(href="https://curso.ohzi.io/palu/")