div.titulo Links:
  div.links
    a.link(href="https://curso.ohzi.io/agus/") Agus
    a.link(href="https://curso.ohzi.io/caco/") Caco
    a.link(href="https://curso.ohzi.io/dolo/") Dolo
    a.link(href="https://curso.ohzi.io/fede/") Fede
    a.link(href="https://curso.ohzi.io/ivan/") Ivan
    a.link(href="https://curso.ohzi.io/manu-franchi/") Manu
    a.link(href="https://curso.ohzi.io/nadia/") Nadia
    a.link(href="https://curso.ohzi.io/palu/") Palu