@import  url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

div.pag {  
  position: absolute;  
  width: 100%;
  height: 5100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Montserrat;
}

    div.head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: gray;
    }

        img.head__left__pic {
            width: 120px;
        }  
  
    div.body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }   
        div.body__center {
            height: 33%;
        
        }     
        a.body__left__tag1 {
            text-decoration: none;
            color: black;
        }
    div.feet {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: gray;
    }  