.home 
.links{display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.link:hover{ background-color: grey;
    border-radius: 5px;
}

.link{font-family: arial;
    font-size: 15px;
    text-decoration: none;
    color: hotpink;
}
