div.contenedor
 div.cabecera
  div.logo
   img.logo(src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSjrsqS-U--2g2vhDUpikldr-EO-EouM8aihg&usqp=CAU")
  div.titulo 
   h1.titulo NUESTRO PLANETA
 div.cuerpo
  div.izquierda
   ul.menu
    li.opcion FLORA
      a(href="#flora")
    li.opcion FAUNA
      a(href="#fauna")
    li.opcion DEFORESTACIÓN
      a(href="#deforestacion")
    li.opcion CONTAMINACIÓN AMBIENTAL
      a(href="#contaminacion-ambiental")
   
  div.derecha
   video.video(autoplay=true, muted=true, loop=true)
     source(src="https://labs.ohzi.io/videos/gold-globe.mp4")
 
 div.pie
  img.reciclaje(src="https://us.123rf.com/450wm/nikolae/nikolae1303/nikolae130300036/18758547-s%C3%ADmbolo-papel-reciclado.jpg?ver=6")
  button CONTACTO