div.sign-in
    div.sign-in__container
        div.sign-in__background
        form.sign-in__form(action='#')
            div.sign-in__title Iniciar Sesión
            input.input.sign-in__email(type="email", placeholder="Email")
            input.input.sign-in__password(type="password", placeholder="Password")
            a(href="#").sign-in__forgot-password Forgot your password?
            a(href="#").sign-in__forgot-password Únete!
            input.sign-in__send-button(type="submit", value="Iniciar Sesion")