div.sign-in

    div.video__background

        video.video__background(autoplay=true, muted=true, looped=true)
            source(src="/assets/images/common/VideoPaluFortnite.mp4")

    div.sign-in__container
    
        form.sign-in__form(action='#')
            div.sign-in__title Iniciar Sesión

            div.sign-in__input
                div.sign-in__input-icon
                    include /assets/images/sign-in/mail.svg
                input.input.sign-in__email(type="email", placeholder="Email")
            
            div.sign-in__input    
                div.sign-in__input-icon
                    include /assets/images/sign-in/password.svg
                input.input.sign-in__password(type="password", placeholder="Password")
            
            a(href="#").sign-in__forgot-password Forgot your password?
            a(href="#").sign-in__forgot-password Únete!
            input.sign-in__send-button(type="submit", value="Iniciar Sesion")