.background
  img.bkrgn(src="https://cdn.themedizine.com/2020/05/Michael-Jordan-Apuestas.jpg")
.contenedor
  .heading
    .headingleft
      a.mail(href="mailto:ivanskrt1@gmail.com") Contact Us
    .headincenter
      div
    .heading.right
      div
  .body
    .sign-in
      form.signin(action="#")
        .sign-in-titulo Welcome
        .mail
          img.ma(src="https://image.flaticon.com/icons/png/512/95/95645.png")
          input.e(type="email", placeholder="E-mail")
        .pass
          img.pass(src="https://icons-for-free.com/iconfiles/png/512/lock+password+protect+safety+security+icon-1320086045132546966.png")
          input.p(type="password", placeholder="Password")
        .sign-in-forgot
          a(href="https://www.linguee.es/ingles-espanol/traduccion/forgot+your+password.html") Forgot your password?
        .submit
        input.ini(type="submit", value="Log In")
  .footing