.background
  img.bkgrnd(src="https://blogapi.uber.com/wp-content/uploads/2018/10/Conocé-los-7-barrios-más-pintorescos-de-la-ciudad-de-Buenos-Aires.jpg")
.container
     .heading
      a(href="https://twitter.com/home?lang=es")
         img.logo(src="https://image.flaticon.com/icons/png/512/23/23681.png")
      .sign-in
         form.signin(action="#")
             input.e(type="email", placeholder="e-mail or username")
             input.p(type="password", placeholder="password")
             input.ini(type="submit", value="log in")
     .body
     .footing
