//-.background
  img(src="https://c4.wallpaperflare.com/wallpaper/500/442/354/outrun-vaporwave-hd-wallpaper-preview.jpg")
.contenedor
  .heading
    .headingleft
      div Contact Us
    .headincenter
      div 
    .heading.right 
      div
  .body
    .sign-in
      form.signin(action="#")
        .sign-in-tittle Welcome
        input(type="email", placeholder="E-mail")
        input(type="password", placeholder="Password")
        .sign-in-forgot
          a(href="https://www.linguee.es/ingles-espanol/traduccion/forgot+your+password.html") Forgot your password?
        .submit
  .footing