.background
  img.bkrgn(src="https://cdn.themedizine.com/2020/05/Michael-Jordan-Apuestas.jpg")
.contenedor
  .heading
    .headingleft
      a.mail(href="mailto:ivanskrt1@gmail.com") Contact Us
    .headincenter
      div
    .heading.right
      div
  .body
    .sign-in
      form.signin(action="#")
        .sign-in-titulo Welcome
        input.e(type="email", placeholder="E-mail")
        input.p(type="password", placeholder="Password")
        a(href="https://www.linguee.es/ingles-espanol/traduccion/forgot+your+password.html") Forgot your password?
        input.ini(type="submit", value="Log In")
  .footing