div.pagina
  div.pagina__titulo
   a(href="https://www.ilovepdf.com/es") 
    img.pagina__menu(src='https://visualpharm.com/assets/350/Menu-595b40b65ba036ed117d44bf.svg')
   div.pagina__nombre Palomilla
   div.pagina__espacio
  div.pagina__cuerpo
    div.pagina__cuerpo1  
    video(controls=false, loop=true, muted=true, autoplay=true)
       source(src="https://labs.ohzi.io/videos/diamond.mp4") 
    div.pagina__cuerpo3 Ulalá diamante 
  div.pagina__pie  
    img.pagina__logo(src='https://www.pinclipart.com/picdir/big/388-3881582_file-paloma-logo-svg-clipart.png') 
    div.pagina__espacio
    div.pagina__contacto 
      a(href="mailto:palomafranchimont@gmail.com") Contacto