.titulo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titulocentro{
    font-size: 60px;
    justify-content: center;
}

.links{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: arial;
    font-size: 40px;
    text-decoration: none;
    background: rgb(212,88,171);
    background: radial-gradient(circle, rgba(212,88,171,0.9780287114845938) 0%, rgba(148,173,233,1) 76%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.links:hover{
    background-color: grey;
    border-radius: 5px;
}

.body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
